@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.static-sidebar {
    &__inner {
        padding: 25px 20px;
    }
}

@include breakpoint-md {
    .static-sidebar {
        &__inner {
            padding: 40px 35px;
        }

        &.isBlog {
            lost-column: 4/12;
        }
    }
}