@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.sidebar {
    width: 100%;
    height: 100vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;

    &__inner {
        position: relative;
        padding: 32px 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__menu {
        width: 100%;

        @include breakpoint-sm {
            display: none;
        }
    }
}